<div class="form-group form-actions">
    <div class="col-md-12 col-md-offset-6">
        <a href="{{ "{{ path('" ~ route_name_prefix ~ "_index') }}" }}" class="btn btn-sm btn-primary">
            <i class="hi hi-chevron-left"></i>
            Regresar
        </a>
        {%- if ('edit' in actions) and (not hide_edit) %}
            <a href="{{ "{{ path('" ~ route_name_prefix ~ "_edit', { 'id': " ~ entity_singularized ~ "."~ identifier ~" }) }}" }}" class="btn btn-sm btn-warning">
                <i class="gi gi-edit"></i>
                Edit
            </a>
        {%- endif %}
    </div>
</div>