{% extends "::base.html.twig" %}
{% block iconHead %}
    <i class="gi gi-dashboard"></i>
{% endblock iconHead %}

{% block pageTitle %}
    Main
{% endblock pageTitle %}
{% block subtitle %}
    Dashboard
{% endblock subtitle %}

{% block action %}

{% endblock action %}

{% block titlePanel %}
    Bienvenido
{% endblock titlePanel %}
{% block bodyPanel %}
    <h1>Bienvenid@ :)</h1>
{% endblock bodyPanel %}