{% extends 'base.html.twig' %}
{% block iconHead %}
    <i class="fa fa-asterisk"></i>
{% endblock iconHead %}

{% block pageTitle %}
    Cambio de contraseña
{% endblock pageTitle %}
{% block subtitle %}
    Seguridad
{% endblock subtitle %}

{% block titlePanel %}
    Cambio de contraseña
{% endblock titlePanel %}
{% block action %}{% endblock action %}
{% block bodyPanel %}
    {% trans_default_domain 'FOSUserBundle' %}
    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': {'class': 'form-horizontal form-bordered'}}) }}
    {{ form_widget(form) }}
    <div class="form-group form-actions">
        <div class="col-md-12 col-md-offset-6">
            <input type="submit" class="btn btn-success" value="{{ 'change_password.submit'|trans }}"/>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock bodyPanel %}